html{
text-align:center;
margin:0 auto;
background-color: #000000;
background-image: url("water02.gif");
width:auto;
cursor: url("https://3.bp.blogspot.com/-bmGsrYXWF0U/XFJj0dBSqhI/AAAAAAAADHs/rlPloM66UFEFzC6q3_JbC8ayzKFzJVgPwCLcBGAs/s1600/unnamedPequeno.png"),default;
}

body{
text-align:center;
margin:0 auto;
background-image: url("texturaoscurayoutube.png");
background-color: #303030;
border-style: solid;
border-color: black;
width: 70%;
cursor:default;
}

@media only screen and (max-width: 790px) {
body{
width: 100%;
border-style: none;
border-color: none;
}
}

#contenedor{
margin: 0 auto;
text-align:left;
width:90%;
}

button {
  background-color: #332F2C;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: ;
  margin: none;
  cursor: pointer;
}

button:hover {
  background-color: #332F2C;
  color: red;
}

button:active {
  background-color: #FFFFFF;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  background-image: url("texturaoscurayoutube.png");
  position: -webkit-sticky;
  position: sticky;
}
