html{
text-align:center;
margin:0 auto;
background-color: #000000;
background-image: url("Sandstone.bmp");
width:auto;
}

body{
text-align:center;
margin:0 auto;
background-image: url("texturaoscurayoutube.png");
background-color: #303030;
padding:1 px;
border-style: solid;
border-color: black;
width: 75%;
}

@media only screen and (max-width: 790px) {
body{
text-align:center;
margin:0 auto;
background-image: url("texturaoscurayoutube.png");
background-color: #303030;
padding:1 px;
border-style: none;
border-color: none;
width: 100%;
}
}

#contenedor{
margin: 0 auto;
text-align:left;
width:90%;
}
